<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide></ion-menu-button>
        </ion-buttons>

        <ion-title>MAPA</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="startgeo()">
    <ion-icon name="cloud-upload"></ion-icon>
  </ion-fab>
  <ion-fab vertical="top"  slot="fixed" (click)="stopgeo()">
    <ion-icon name="cloud-upload"></ion-icon>
  </ion-fab>
  <agm-map [streetViewControl]="false" [streetViewControlOptions]="false" [usePanning]="true" [latitude]="centerPoint.latitude" [longitude]="centerPoint.longitude" [zoom]="14
  "  [disableDefaultUI]="false"
    [zoomControl]="true">

    <agm-marker [latitude]="centerPoint.latitude" [longitude]="centerPoint.longitude"
    [iconUrl]="'assets/icon/man.png'" >
    </agm-marker>

    <agm-marker *ngFor="let point of points | async" [latitude]="point.position.geopoint.latitude" [longitude]="point.position.geopoint.longitude"
      [title]="point.id" [iconUrl]="'assets/icon/car.svg'">
      <agm-info-window>
        <p>{{ point.nombre }} {{ point.docId}} Distancia {{ point.queryMetadata.distance }}</p>
      </agm-info-window>
    </agm-marker>


  </agm-map>


</ion-content>