// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
    /** primary **/
    --ion-color-primary: #f6820d;
    --ion-color-primary-rgb: 72, 138, 255;
    --ion-color-primary-contrast: #fff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3f79e0;
    --ion-color-primary-tint: #5a96ff;
    /** secondary **/
    --ion-color-secondary: #ffcb2b;
    --ion-color-secondary-rgb: 50, 219, 100;
    --ion-color-secondary-contrast: #fff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #2cc158;
    --ion-color-secondary-tint: #47df74;
    /** tertiary **/
    --ion-color-tertiary: #f4a942;
    --ion-color-tertiary-rgb: 244, 169, 66;
    --ion-color-tertiary-contrast: #fff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #d7953a;
    --ion-color-tertiary-tint: #f5b255;
    /** success **/
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #fff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;
    /** warning **/
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
    /** danger **/
    --ion-color-danger: #f53d3d;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #fff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d83636;
    --ion-color-danger-tint: #f65050;
    /** light **/
    --ion-color-light: #f4f4f4;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d7d7;
    --ion-color-light-tint: #f5f5f5;
    /** medium **/
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    /** dark **/
    --ion-color-dark: #222;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #fff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e1e1e;
    --ion-color-dark-tint: #383838;
    --body-font: 'Cairo';
    --heading-font: 'Rokkitt';
    --ion-font-family: var(--body-font);
}

:root[mode=ios] {
    --ion-font-family: var( --body-font) !important;
}

:root[mode=md] {
    --ion-font-family: var( --body-font) !important;
}

@font-face {
    font-family: 'Cairo';
    src: url('/assets/fonts/Cairo/Cairo-Regular.ttf');
}

@font-face {
    font-family: 'Rokkitt';
    src: url('/assets/fonts/Rokkitt/Rokkitt-Bold.ttf');
    font-weight: bold;
}