<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide></ion-menu-button>
        </ion-buttons>

        <ion-title>CERCANOS</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list *ngFor="let point of points | async">
    <ion-card-header no-padding>
      <ion-list>      

        <ion-item >
			  <ion-thumbnail item-left>
        <img src="{{ point.photo }}">
      </ion-thumbnail>
          <h2 ion-text>
		  <p> {{ point.docId}} </p>
			<p>{{ point.nombre }} Distancia {{ point.queryMetadata.distance | number : '1.2-2' }} Km</p>
          </h2>

        </ion-item>
      </ion-list>
    </ion-card-header>

  </ion-list>

</ion-content>