<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide></ion-menu-button>
        </ion-buttons>

        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- <ion-item-divider>
        <ion-label>
            Intro App Tutorial
        </ion-label>
    </ion-item-divider>


    <ion-button color="tertiary" (click)="resetTutorial()">Restart Tutorial</ion-button> -->

    <ion-item-divider>
        <ion-label>
            Login Component
        </ion-label>
    </ion-item-divider>


    <app-login></app-login>

    <ion-item-divider>
        <ion-label>
            Features
        </ion-label>
    </ion-item-divider>





    <!-- <ion-item-divider>
        <ion-label>
            Capacitor Device Info
        </ion-label>
    </ion-item-divider>

    <app-device></app-device> -->


</ion-content>